.sidebar {
  background-color: #f7f7f7;
  padding: 2rem;
}

.dashboard-container {
  height: calc(100vh);
}

.dashboard-content {
  padding: 2rem;
  padding-top: calc(68px + 2rem);
  background-color: #fff;
}